@model SubjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Subject</h4>
<hr />

<form asp-action="Create" class="row g-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>