@model SubjectViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<h4>Subject</h4>
<hr />

<form asp-action="Edit" class="row g-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SubjectId" />
    <div class="col-12">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>