@model BookViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<h4>Book</h4>
<hr />

<form asp-action="Edit" class="row g-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BookId" />
    <div class="col-12">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Publisher" class="form-label"></label>
        <input asp-for="Publisher" class="form-control" />
        <span asp-validation-for="Publisher" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Language" class="form-label"></label>
        <textarea asp-for="Language" class="form-control"></textarea>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="ISBN" class="form-label"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="CallNumber" class="form-label"></label>
        <input asp-for="CallNumber" class="form-control" />
        <span asp-validation-for="CallNumber" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="MaxIssueDays" class="form-label"></label>
        <input asp-for="MaxIssueDays" class="form-control" />
        <span asp-validation-for="MaxIssueDays" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}